.bg2{
    background-color: #FFF3E9;
    width: 95vw;
    height:fit-content;
    margin: 0 auto;
    margin-top: 8rem;
    border-radius: 1rem;
    position: relative;
    overflow:hidden;
    padding: 8rem 3.13rem;
    display: flex;
    margin-bottom: auto;
    cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="36" viewBox="0 0 24 24"><path fill="%23FEEFD4" stroke="%23FEB67E" stroke-width="2" d="M5.5 3.21V20.8c0 .45.54.67.85.35l4.86-4.86a.5.5 0 0 1 .35-.15h6.87a.5.5 0 0 0 .35-.85L6.35 2.85a.5.5 0 0 0-.85.35Z"></path></svg>'),auto;
}

.p{
    color: #53514F;
    font-size: 0.96638rem;
    margin-bottom: 1.55rem;
}
.h2{
    color: #10100F;
    font-size: 3.35rem;
    font-weight: 600;
}

.p1{
    color: #6C6A6C;
    font-size: 1.22406rem;
    margin-bottom: 3rem;
}
.p2{
    color: #6C6A6C;
    font-size: 1.22406rem;
}

.right{
    width: 50vw;
}
.left{
    padding-top: 10rem;
    padding-right: 5rem;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.obg{
    position: absolute;
    bottom: 2rem;
    left: 0rem;
    width: 12rem;
}

.pbg{
    position: absolute;
    width: 13.5625rem;
    z-index: 2;
    bottom: 5rem;
    left: 8rem;
}

.grade{
    position: absolute;
    z-index: 3;
    bottom: 16.5rem;
    left: 13rem;
}
.gPurple{
    position: absolute;
    z-index: 4;
    bottom: 8rem;
    left: 12rem;
}

.seed{
    position: absolute;
    top: 6rem;
    left: 41rem;
}

.leaf{
    position: absolute;
    top: 16rem;
    left: 25rem;
}
.leaf1{
    position: absolute;
    top: 8rem;
    right: 8rem;
}

.flower{
    position: absolute;
    bottom: 16rem;
    left: 37rem;
}

.gradePop{
    text-align: center;
}

.ghostSet{
    width: 10rem;
    height: 12rem;
    display: none;
    z-index: 4;
    object-fit: contain;
    position: absolute;
    top: 2rem;
    margin: 0 auto;
    right: 2rem;
}


@media screen and (max-width:1200px) {
    .p{
        font-size: 0.85rem;
        margin-bottom: 1.25rem;
    }
    .h2{
        font-size: 3rem;
    }
    
}

@media screen and (max-width:1000px) {
    .p{
        font-size: 0.75rem;
    }
    .h2{
        font-size: 2.5rem;
    }
    .bg2{
        padding: 4rem 2.75rem;
    }
    .p1{
        font-size: 1rem;
        margin-bottom: 2.5rem;
    }
    .p2{
        font-size: 1rem;
    }

}

@media screen and (max-width:800px) {
    .bg2{
        width: 90vw;
        flex-direction: column;
        height: 600px;
    }
    .p{
        font-size: 0.85rem;
    }
    .h2{
        font-size: 2rem;
    }
    .left{
        width: 80vw;
        padding-top: 2rem;
    }
    .obg{
        opacity:0.5;
    }
    .leaf{
        top: 16rem;
        left: 15rem;
    }
    .leaf1{
        top: 8rem;
        right: 4rem;
    }
    .gradePop{
        display: none;
    }
    /* .ghostSet{
        display: block;
        top: 1rem;
        bottom: 1rem;
    } */
    .flower{
        position: absolute;
        top: 10rem;
        left: 22rem;
    }
    
    

}
@media screen and (max-width:500px) {
    .bg2{
        padding: 4rem 1rem;
    }

}