.vac{
    margin: 0 auto;
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 420px;
}

.vh2{
    color: #191919;
    font-size: 3.4375rem;
    font-weight: 600;
}

.cards{
    display: flex;
    margin-top: 3rem;
    gap: 2.5rem;
    padding: 0 6rem;
}

.card1,.card2,.card3{
    display: flex;
    flex-direction: column;
    border-radius: 1.1875rem;
    background: #FDFAEB;
    padding: 2.25rem;
    min-width: 290px;
    max-width: 390px;
}

.vh4{
    color: #51504C;
    font-size: 1.3125rem;
    font-weight: 600;
}

.ul{
    margin-top: 1rem;
}

.ul li{
    list-style-type:disc;
    margin: 0.5rem auto;
    color: #7A7974;
    font-size: 0.84375rem;
}

.vbtn1,.vbtn2,.vbtn3{
    height: 3.15rem;
    border-radius: 0.25rem;
    width: 100%;
    background-color: #191919;
    color: #ffffff;
    margin-top: 1rem;
    display: none;
    transition: all 0.4s;
}
.vbtn1:hover,.vbtn2:hover,.vbtn3:hover{
    background: #303031;
}

.card1:hover .vbtn1{
    display: block;
    cursor:url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24"><path fill="%23E2BFF9" stroke="%23E48AF9" stroke-width="2" stroke-linejoin="round" d="M10 11V8.99c0-.88.59-1.64 1.44-1.86h.05A1.99 1.99 0 0 1 14 9.05V12v-2c0-.88.6-1.65 1.46-1.87h.05A1.98 1.98 0 0 1 18 10.06V13v-1.94a2 2 0 0 1 1.51-1.94h0A2 2 0 0 1 22 11.06V14c0 .6-.08 1.27-.21 1.97a7.96 7.96 0 0 1-7.55 6.48 54.98 54.98 0 0 1-4.48 0 7.96 7.96 0 0 1-7.55-6.48C2.08 15.27 2 14.59 2 14v-1.49c0-1.11.9-2.01 2.01-2.01h0a2 2 0 0 1 2.01 2.03l-.01.97v-10c0-1.1.9-2 2-2h0a2 2 0 0 1 2 2V11Z"></path></svg>'),auto;
}
.card2:hover .vbtn2{
    display: block;
    cursor:url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24"><path fill="%23E2BFF9" stroke="%23E48AF9" stroke-width="2" stroke-linejoin="round" d="M10 11V8.99c0-.88.59-1.64 1.44-1.86h.05A1.99 1.99 0 0 1 14 9.05V12v-2c0-.88.6-1.65 1.46-1.87h.05A1.98 1.98 0 0 1 18 10.06V13v-1.94a2 2 0 0 1 1.51-1.94h0A2 2 0 0 1 22 11.06V14c0 .6-.08 1.27-.21 1.97a7.96 7.96 0 0 1-7.55 6.48 54.98 54.98 0 0 1-4.48 0 7.96 7.96 0 0 1-7.55-6.48C2.08 15.27 2 14.59 2 14v-1.49c0-1.11.9-2.01 2.01-2.01h0a2 2 0 0 1 2.01 2.03l-.01.97v-10c0-1.1.9-2 2-2h0a2 2 0 0 1 2 2V11Z"></path></svg>'),auto;
}
.card3:hover .vbtn3{
    display: block;
    cursor:url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24"><path fill="%23E2BFF9" stroke="%23E48AF9" stroke-width="2" stroke-linejoin="round" d="M10 11V8.99c0-.88.59-1.64 1.44-1.86h.05A1.99 1.99 0 0 1 14 9.05V12v-2c0-.88.6-1.65 1.46-1.87h.05A1.98 1.98 0 0 1 18 10.06V13v-1.94a2 2 0 0 1 1.51-1.94h0A2 2 0 0 1 22 11.06V14c0 .6-.08 1.27-.21 1.97a7.96 7.96 0 0 1-7.55 6.48 54.98 54.98 0 0 1-4.48 0 7.96 7.96 0 0 1-7.55-6.48C2.08 15.27 2 14.59 2 14v-1.49c0-1.11.9-2.01 2.01-2.01h0a2 2 0 0 1 2.01 2.03l-.01.97v-10c0-1.1.9-2 2-2h0a2 2 0 0 1 2 2V11Z"></path></svg>'),auto;
}

@media screen and (max-width:1200px) {

    .vh2{
        font-size: 2.25rem;
    }

}
@media screen and (max-width:1000px) {

    .vh2{
        font-size: 2rem;
    }
    .cards{
        flex-wrap: wrap;
        padding: 0rem 3rem;
    }
    .vac{
        height: fit-content;
    }
}
@media screen and (max-width:800px) {

    .vh2{
        font-size: 1.5rem;
    }
    .cards{
        justify-content: center;
        flex-wrap: wrap;
        padding: 0rem 2rem;
    }
   
  
   

}
@media screen and (max-width:500px) {
    .cards{
        flex-direction: column;
        align-items:center;
        padding: 0rem 1rem;
    }
    .vh2{
        padding-left: 1rem;
    }
    .vac{
        align-items: flex-start;
    }

}



